// Colors
$bg-primary: #20b2aa;
$bg-secondary: #FAF8E1;

$color-primary: #2c3e50;
$color-secondary: #fff;

$hover-c-primary: #3a4d5e;
$hover-c-secondary: $bg-primary;



// Typography
$ff-body: 'Roboto mono', Helvetica, Arial, sans-serif;
$font-family-logo:'Pacifico';

